<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">
    <select id="getById" parameterType="int" resultMap="getById">
      SELECT u.*,r.title FROM USER u,role r
      WHERE r.id=u.role_id
      AND u.id=#{id}
    </select>

    <resultMap id="getById" type="User">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="age" property="age"></result>
        <result column="address" property="address"></result>
        <association property="role" javaType="Role">
            <id column="role_id" property="id"></id>
            <result column="title" property="title"></result>
        </association>
    </resultMap>


</mapper>